In [18]:
# Basics section of QuantEcon course
# Last edited: 5/8/22 by Tal Roded


x = "Hello World"

In [2]:
x

'Hello World'

In [3]:
y

NameError: name 'y' is not defined

In [4]:
x=2
print(x)

2

In [5]:
i=1 # assign 1 to i
j=2 # assign 2 to j

# We add i and j below this line
i+j

3

In [8]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [9]:
x="something else"

In [10]:
x.split()

['something', 'else']

In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
import matplotlib as mpl

In [2]:
zf=1230.5
zf2=1_230.5

In [3]:
print(zf)
print(zf2)

1230.5
1230.5

In [16]:
a = 4
b = 2

print("a + b is", a + b)
print("a - b is", a - b)
print("a * b is", a * b)
print("a / b is", a / b)
print("a ** b is", a**b) # python uses ** for powers
print("a ^ b is", a^b)

a + b is 6
a - b is 2
a * b is 8
a / b is 2.0
a ** b is 16
a ^ b is 6

In [17]:
country = "Vietnam"
GDP = 223.9
year = 2017
my_string = f"{country} had ${GDP} billion GDP in {year}"
print(my_string)

Vietnam had $223.9 billion GDP in 2017

In [19]:
z = 3
z = z + 4
print("z is", z)

z is 7

In [22]:
len(x)

11

In [23]:
import time

In [25]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=8, tm_hour=13, tm_min=59, tm_sec=18, tm_wday=6, tm_yday=128, tm_isdst=1)

In [26]:
## Collections

x = [2.0, 9.1, 12.5]
print("x has type", type(x))
x

x has type <class 'list'>

[2.0, 9.1, 12.5]

In [27]:
x[2]

12.5

In [28]:
x[0]

2.0

In [29]:
x[4]

IndexError: list index out of range

In [36]:
# sort numbered list
number_list = [10, 25, 42, 1.0]
print(number_list)
number_list.sort()
print(number_list)
number_list.append(20)
print(number_list)

[10, 25, 42, 1.0]
[1.0, 10, 25, 42]
[1.0, 10, 25, 42, 20]

In [35]:
# sort strings list
str_list = ["NY", "AZ", "TX"]
print(str_list)
str_list.sort()
print(str_list)

['NY', 'AZ', 'TX']
['AZ', 'NY', 'TX']

In [37]:
x = [2, "hello", 3.0]
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [40]:
r = range(5)
print("type(r)", type(r))
list(r)
print("type(list(r))", type(list(r)))

type(r) <class 'range'>
type(list(r)) <class 'list'>

In [41]:
x, y = (1, "test")
print(f"x = {x}, y = {y}")

x = 1, y = test

In [43]:
# zip creates a list of tuples from the arguments provided
gdp_data = [9.607, 10.48, 11.06]
years = [2013, 2014, 2015]
z = zip(years, gdp_data)
print("type(z)", type(z))
list(z)

type(z) <class 'zip'>

[(2013, 9.607), (2014, 10.48), (2015, 11.06)]

In [5]:
# enumerate creates a list of tuples but where one of the vectors is an index
e = enumerate(["a", "b", "c"])
print("type(e)", type(e))
e
list(e)

type(e) <class 'enumerate'>

[(0, 'a'), (1, 'b'), (2, 'c')]

In [9]:
# dictionaries associate keys with values
# {"key1": value1, "key2": value2, ..., "keyN": valueN}
# can write either way:
china_data = {"country": "China", "year": 2015, "GDP" : 11.06, "population": 1.371}
print(china_data)
china_data = {
    "country": "China",
    "year": 2015,
    "GDP" : 11.06,
    "population": 1.371
}
print(china_data)
print(china_data["year"])
# can easily add new values to a dictionary or update a value
china_data["unemployment"] = "4.05%"
print(china_data)
# get a list of all the keys
list(china_data.keys())
# get a list of all the values
list(china_data.values())

{'country': 'China', 'year': 2015, 'GDP': 11.06, 'population': 1.371}
{'country': 'China', 'year': 2015, 'GDP': 11.06, 'population': 1.371}
2015
{'country': 'China', 'year': 2015, 'GDP': 11.06, 'population': 1.371, 'unemployment': '4.05%'}

['China', 2015, 11.06, 1.371, '4.05%']

In [13]:
## Control Flow
# basic syntax for conditionals: (else clause is optional)
if condition:
    # code to run when condition is True
else:
    # code to run if no conditions above are True

IndentationError: expected an indented block (Temp/ipykernel_10956/3883658199.py, line 5)

In [14]:
# use elif for multiple conditionals
import datetime
halloween = datetime.date(2017, 10, 31)

if halloween.month > 9:
    print("Halloween is in Q4")
elif halloween.month > 6:
    print("Halloween is in Q3")
elif halloween.month > 3:
    print("Halloween is in Q2")
else:
    print("Halloween is in Q1")
    
# note how only the code corresponding to the FIRST true value is run

Halloween is in Q4

In [16]:
# iterations with for loops
# we can replace range with any iterables - lists, tuples, dicts, enumerate objects
for i in range(1, 11):
     print(f"{i}**2 = {i**2}")
        
# we can use enumerate to make our list - creates a tuple of the form (i, x)
# revenue by quarter
company_revenue = [5.12, 5.20, 5.50, 6.50]

for index, value in enumerate(company_revenue):
    print(f"quarter {index} revenue is ${value} million")

1**2 = 1
2**2 = 4
3**2 = 9
4**2 = 16
5**2 = 25
6**2 = 36
7**2 = 49
8**2 = 64
9**2 = 81
10**2 = 100
quarter 0 revenue is $5.12 million
quarter 1 revenue is $5.2 million
quarter 2 revenue is $5.5 million
quarter 3 revenue is $6.5 million

In [18]:
# while loops repeat until a condition is met
total = 0
i = 0
while total <= 1000:
    i = i + 1
    total = total + i

print("The answer is", i)

# equivalent for loop with a break:
total = 0
for i in range(1001):
    total = total + i
    if total > 1000:
        break

print("The answer is", i)

The answer is 45
The answer is 45

In [22]:
## Functions
# basic syntax for defining a function
def function_name(inputs):
    # step 1
    # step 2
    # ...
    return outputs
# simple example:
def mean(numbers):
    total = sum(numbers)
    N = len(numbers)
    answer = total / N

    return answer
mean([1, 5, 6])

4.0

In [27]:
# often an explanation of a function is added to the first line, called a docstring
def cobb_douglas(K, L):
    """
    Computes the production F(K, L) for a Cobb-Douglas production function

    Takes the form F(K, L) = z K^{\alpha} L^{1 - \alpha}

    We restrict z = 1 and alpha = 0.33
    """
    return 1.0 * K**(0.33) * L**(1.0 - 0.33)
cobb_douglas(1, 0.5)
# checking for documentation will cause the docstring to display
cobb_douglas?

In [29]:
# we can also have optional arguments by creating defaults for the inputs
def cobb_douglas(K, L, alpha=0.33, z=1):
    """
    Computes the production F(K, L) for a Cobb-Douglas production function

    Takes the form F(K, L) = z K^{\alpha} L^{1 - \alpha}
    """
    return z * K**(alpha) * L**(1.0 - alpha)
# only need to specify K and L
print(cobb_douglas(1, 0.5))
# but you can also override the defaults
cobb_douglas(1.0, 0.5, 0.35, 1.6)

0.6285066872609142

1.0196485018554098